* {
  position: relative;
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

a {
  text-decoration: none;
  color: rgb(238, 158, 38);
}

input[type="text"]:focus {
  outline: none;
}

.container {
  padding-left: 12%;
  padding-right: 12%;
  margin: auto;
  height: 50px;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(238, 238, 238);
}

nav .brand {
  width: 25%;
}

nav form {
  width: 50%;
}

nav input[type="text"] {
  width: 100%;
  border: none;
  background: none;
  border-bottom: 2px solid rgb(238, 158, 38);
  padding-bottom: 12px;
}

nav ul {
  display: flex;
  width: 25%;
  justify-content: flex-end;
}

nav li {
  list-style: none;
  padding: 0;
  margin: 0;
}

nav a {
  padding: 0 9px;
}

.jumbo {
  background: rgb(238, 158, 38);
  min-height: 170px;
  display: flex;
  justify-content: space-between;
  padding-top: 2rem;
  padding-bottom: 2rem;
  border-bottom: 1px solid rgb(158, 105, 26);
}

.content .img-content {
  display: flex;
  justify-content: space-between;
}

.content h2 {
  font-weight: normal;
}

.content img {
  border: 1px solid rgb(160, 160, 160);
  padding: 8px;
  border-radius: 9px;
}

.content .img-action {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.content .img-title {
  display: flex;
  flex-direction: column;
}

.content .img-action button {
  cursor: pointer;
  padding: 0.2rem;
}
